<!DOCTYPE html>
<html lang="en">
<head>
    <title>Quick Tutorial: {{name}}</title>
</head>
<body>
<h1>Whats shakin</h1>
<form method="GET" action="pdfnew">
  <div>
    <input type="text" name="foo"/>
  </div>
  <input type="submit" value="Submit"/>
</form>
<p><a href="/pdfnew?foo=burek">Download me!</a></p>
</body>
</html>
